<mat-drawer-container autosize>
    <mat-drawer style="width: 250px;" #drawer [mode]="this.menu" role="navigation" [opened]="this.opened">
        <mat-toolbar>
            <mat-toolbar-row>
                <div class="img-rounded"></div>
                <h2>{{_authService.userLogged}}</h2>
            </mat-toolbar-row>
        </mat-toolbar>
        <mat-nav-list role="list">
            <h2 matSubheader> Operations </h2>
            <mat-list-item routerLink="" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active"
                           style="cursor: pointer;" role="listitem">
                <mat-icon class="mqtt-side-icons" matListIcon> dashboard</mat-icon>
                Home
            </mat-list-item>
            <mat-list-item routerLink="/product"  routerLinkActive="active"
                           style="cursor: pointer;" role="listitem">
                <mat-icon class="mqtt-side-icons" matListIcon> assignment</mat-icon>
                Inventario
            </mat-list-item><mat-list-item routerLink="/product" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="users"
                           style="cursor: pointer;" role="listitem">
                <mat-icon class="mqtt-side-icons" matListIcon>supervised_user_circle</mat-icon>
                Usuarios
            </mat-list-item>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content role="main" >
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <button mat-icon-button (click)="drawer.toggle()" *ngIf="this.breakpointObserver.isMatched('(max-width: 599px)')">
                    <mat-icon>menu</mat-icon>
                </button>
                <span>ABC|Educate</span>
                <span class="example-spacer"></span>
                <button (click)="this.logout()" mat-icon-button>
                    <mat-icon>power_settings_new</mat-icon>
                </button>

            </mat-toolbar-row>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
