.img-rounded {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('https://difatizapan.gob.mx/imgDirectorio/img_avatar.png');
}

$color : #3f51b5;
.example-spacer{
    margin-left: auto;
}

.active {
    background-color:$color;
    color: white;

    &:hover {
        background-color: #3f51b5;;
    }

    &:focus {
        background-color: #3f51b5;;
    }
}


.mat-drawer-container {
    height: 100vh !important;
}
