.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-container {
  width: 100%;
  margin: 0;
  height: 100%;
}

mat-drawer-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.img-rounded{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/75/755f87b22d0cf6f2dacd7e259d4b0023f17d8571_full.jpg');
}

.active{
  background-color: #3f51b5;
  color:white
}