@import "../../../../themes/mat-variables";
@import "../../../../themes/variables";

.mqtt-command-bar-row {
    height: $crm-command-bar-height-desktop !important;
    min-height: $crm-command-bar-height-desktop !important;
    width: 100%;
    padding-left: 8px;
    background-color: red($color: #000000);
    padding-right: 8px;


}
