<div  class="slider">
    <div class="load">
        <div style="display: flex;justify-content: center;align-items: center; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%);">
            <mat-card style="width: 300px;height: 270px;">
                <mat-card-header>
                    <mat-card-title>LOGIN</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <form (ngSubmit)="submit()" [formGroup]="form" class="example-container" novalidate (submit)="$event.preventDefault()">
                        <mat-form-field style="margin-bottom: 20px;font-size: 18px!important;">
                            <input formControlName="username" matInput placeholder="Email">
                            <mat-hint>Email Required</mat-hint>
                            <mat-error *ngIf="this.form.get('username').dirty" >
                                <div *ngIf="this.form.get('username').hasError('required') ">
                                    El email es requido
                                </div>
                                <div *ngIf="this.form.get('username').hasError('pattern') ">
                                    El correo es invalido
                                </div>
                        
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field style="font-size: 18px!important;">
                            <input formControlName="password" matInput placeholder="Contraseña" [type]="hide ? 'password' : 'text'">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                    [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>

                        <button style="margin-top: 20px;" mat-raised-button color="primary" type="submit">Login</button>

                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
